/*
-------------
css3 loading animation definition
Created By Kevin.t
on 2015.02.26
-------------
*/

/*--- bouncedelay ---*/
@-webkit-keyframes bouncedelay{
    0%, 80%, 100% {-webkit-transform: scale(0.0);}
    40% {-webkit-transform: scale(1.0);}
}
@keyframes bouncedelay{
    0%, 80%, 100%{-webkit-transform: scale(0.0); transform: scale(0.0); -moz-transform: scale(0.0); -o-transform: scale(0.0); -ms-transform: scale(0.0);}
    40% {-webkit-transform: scale(1.0); transform: scale(1.0); -moz-transform: scale(1.0); -o-transform: scale(1.0); -ms-transform: scale(1.0);}
}
@-moz-keyframes bouncedelay{
    0%, 80%, 100% {-moz-transform: scale(0.0);}
    40% {-moz-transform: scale(1.0);}
}
@-o-keyframes bouncedelay{
    0%, 80%, 100% {-o-transform: scale(0.0);}
    40% {-o-transform: scale(1.0);}
}
@-ms-keyframes bouncedelay{
    0%, 80%, 100% {-ms-transform: scale(0.0);}
    40% {-ms-transform: scale(1.0);}
}

/*--- rotate ---*/
@-webkit-keyframes rotate{
    100% {-webkit-transform: rotate(360deg);}
}
@keyframes rotate{
    100% {-webkit-transform: rotate(360deg); transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(260deg); -ms-transform: rotate(360deg);}
}
@-moz-keyframes rotate{
    100% {-moz-transform: rotate(360deg);}
}
@-o-keyframes rotate{
    100% {-o-transform: rotate(360deg);}
}
@-ms-keyframes rotate{
    100% {-ms-transform: rotate(360deg);}
}
@-webkit-keyframes bounce{
    0%, 100% {-webkit-transform: scale(0.0);}
    50% {-webkit-transform: scale(1.0);}
}
@keyframes bounce{
    0%, 100% {-webkit-transform: scale(0.0); transform: scale(0.0); -moz-transform: scale(0.0); -o-transfrom: scale(0.0); -ms-transform: scale(0.0);}
    50% {-webkit-transform: scale(1.0); transform: scale(1.0); -moz-transform: scale(1.0); -o-transform: scale(1.0); -ms-transform: scale(1.0);}
}
@-moz-keyframes bounce{
    0%, 100% {-moz-transform: scale(0.0);}
    50% {-moz-transform: scale(1.0);}
}

/*--- scaleout ---*/
@-webkit-keyframes scaleout{
    0% {-webkit-transform: scale(0.0);}
    100% {-webkit-transform: scale(1.0); opacity: 0;}
}
@keyframes scaleout{
    0% {-webkit-transform: scale(0.0); transform: scale(0.0); -moz-transform: scale(0.0); -o-transform: scale(0.0); -ms-transform: scale(0.0);}
    100% {-webkit-transform: scale(1.0); transform: scale(1.0); -moz-transform: scale(1.0); -o-transform: scale(1.0); -ms-transform: scale(1.0); opacity: 0;}
}
@-moz-keyframes scaleout{
    0% {-moz-transform: scale(0.0);}
    100% {-moz-transform: scale(1.0);}
}
@-o-keyframes scaleout{
    0% {-o-transform: scale(0.0);}
    100% {-o-transform: scale(1.0);}
}
@-ms-keyframes scaleout{
    0% {-ms-transform: scale(0.0);}
    100% {-ms-transform: scale(1.0);}
}

/*--- inner-circle ---*/
@-webkit-keyframes inner-circle{
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}
@keyframes inner-circle{
    0% {-webkit-transform: rotate(0deg); transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg); transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); -ms-transform: rotate(360deg);}
}
@-moz-keyframes inner-circle{
    0% {-moz-transform: rotate(0deg);}
    100% {-moz-transform: rotate(360deg);}
}
@-o-keyframes inner-circle{
    0% {-o-transform: rotate(0deg);}
    100% {-o-transform: rotate(360deg);}
}
@-ms-keyframes inner-circle{
    0% {-ms-transform: rotate(0deg);}
    100% {-ms-transform: rotate(360deg);}
}

/*--- rotateplane ---*/
@-webkit-keyframes rotateplane{
    0% {-webkit-transform: perspective(120px);}
    50% {-webkit-transform: perspective(120px) rotateY(180deg);}
    100% {-webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);}
}
@keyframes rotateplane{
    0% {-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); transform: perspective(120px) rotateX(0deg) rotateY(0deg); -moz-transform: perspective(120px) rotateX(0deg) rotateY(0deg); -o-transform: perspective(120px) rotateX(0deg) rotateY(0deg); -ms-transform: perspective(120px) rotateX(0deg) rotateY(0deg);}
    50% {-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); -moz-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); -o-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); -ms-transform: perspective rotateX(-180.1deg) rotateY(0deg);}
    100% {-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); -moz-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); -o-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); -ms-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);}
}
@-moz-keyframes rotateplane{
    0% {-moz-transform: perspective(120px);}
    50% {-moz-transform: perspective(120px) rotateY(180deg);}
    100% {-moz-transform: perspective(120px) rotateY(180deg) rotateX(180deg);}
}
@-o-keyframes rotateplane{
    0% {-o-transform: perspective(120px);}
    50% {-o-transform: perspective(120px) rotateY(180deg);}
    100% {-o-transform: perspective(120px) rotateY(180deg) rotateX(180deg);}
}
@-ms-keyframes rotateplane{
    0% {-ms-transform: perspective(120px);}
    50% {-ms-transform: perspective(120px) rotateY(180deg);}
    100% {-ms-transform: perspective(120px) rotateY(180deg) rotateX(180deg);}
}

/*--- cube-move ---*/
@-webkit-keyframes cube-move{
    25% {-webkit-transform: translateX(22px) rotate(-90deg) scale(.5);}
    50% {-webkit-transform: translateX(22px) translateY(22px) rotate(-180deg);}
    75% {-webkit-transform: translateX(0px) translateY(22px) rotate(-270deg) scale(.5);}
    100% {-webkit-transform: rotate(-360deg);}
}
@keyframes cube-move{
    25% {-webkit-transform: translateX(42px) rotate(-90deg) scale(.5); transform: tranlateX(42px) rotate(-90deg) scale(.5); -moz-transform: translateX(42px) rotate(-90deg) scale(.5); -o-transform: translateX(42px) rotate(-90deg) scale(.5); -ms-transform: translateX(42px) rotate(-90deg) scale(.5);}
    50% {-webkit-transform: translateX(42px) translateY(42px) rotate(-179deg); transform: translateX(42px) translateY(42px) rotate(-179deg); -mox-transform: translateX(42px) translateY(42px) rotate(-179deg); -o-transform: translateX(42px) translateY(42px) rotate(-179deg); -ms-transform: translateX(42px) translateY(42px) rotate(-179deg);}
    75% {-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(.5); -moz-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(.5); -o-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(.5); -ms-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(.5);}
    100% {-webkit-transform: rotate(-360deg); transform: rotate(-360deg); -moz-transform: rotate(-360deg); -o-transform: rotate(-360deg); -ms-transform: rotate(-360deg);}
}
@-moz-keyframes cube-move{
    25% {-moz-transform: translateX(22px) rotate(-90deg) scale(.5);}
    50% {-moz-transform: translateX(22px) translateY(22px) rotate(-180deg);}
    75% {-moz-transform: translateX(0px) translateY(22px) rotate(-270deg) scale(.5);}
    100% {-moz-transform: rotate(-360deg);}
}
@-o-keyframes cube-move{
    25% {-o-transform: translateX(22px) rotate(-90deg) scale(.5);}
    50% {-o-transform: translateX(22px) translateY(22px) rotate(-180deg);}
    75% {-o-transform: translateX(0px) translateY(22px) rotate(-270deg) scale(.5);}
    100% {-o-transform: rotate(-360deg);}
}
@-ms-keyframes cube-move{
    25% {-ms-transform: translateX(22px) rotate(-90deg) scale(.5);}
    50% {-ms-transform: translateX(22px) translateY(22px) rotate(-180deg);}
    75% {-ms-transform: translateX(0px) translateY(22px) rotate(-270deg) scale(.5);}
    100% {-ms-transform: rotate(-360deg);}
}

/*--- stretchdelay ---*/
@-webkit-keyframes stretchdelay{
    0%, 40%, 100% {-webkit-transform: scaleY(.4);}
    20% {-webkit-transform: scaleY(1.0);}
}
@keyframes stretchdelay{
    0%, 40%, 100% {-webkit-transform: scaleY(.4); transform: scaleY(.4); -moz-transform: scaleY(.4); -o-transform: scaleY(.4); -ms-transform: scaleY(.4);}
    20% {-webkit-transform: scaleY(1.0); transform: scaleY(1.0); -moz-transform: scaleY(1.0); -o-transform: scaleY(1.0); -ms-transform: scaleY(1.0);}
}
@-moz-keyframes stretchdelay{
    0%, 40%, 100% {-moz-transform: scaleY(.4);}
    20% {-moz-transform: scaleY(1.0);}
}
@-o-keyframes stretchdelay{
    0%, 40%, 100% {-o-transform: scaleY(.4);}
    20% {-o-transform: scaleY(1.0);}
}
@-ms-keyframes stretchdelay{
    0%, 40%, 100% {-ms-transform: scaleY(.4);}
    20% {-ms-transform: scaleY(1.0);}
}

/*--- fading-cricle ---*/
@-webkit-keyframes fading-circle{
    0%, 39%, 100% {opacity: 0;}
    40% {opacity: 1;}
}
@keyframes fading-circle{
    0%, 39%, 100% {opacity: 0;}
    40% {opacity: 1;}
}
@-moz-keyframes fading-circle{
    0%, 39%, 100% {opacity: 0;}
    40% {opacity: 1;}
}
@-o-keyframes fading-circles{
    0%, 39%, 100% {opacity: 0;}
    40% {opacity: 1;}
}
@-ms-keyframes fading-circle{
    0%, 39%, 100% {opacity: 0;}
    40% {opacity: 1;}
}

/*--- orbit ---*/
@-moz-keyframes orbit{
    0% {opacity: 1; z-index:99; -moz-transform: rotate(180deg); -moz-animation-timing-function: ease-out;}
    7% {opacity: 1; -moz-transform: rotate(300deg); -moz-animation-timing-function: linear; -moz-origin:0%;}
    30% {opacity: 1; -moz-transform:rotate(410deg); -moz-animation-timing-function: ease-in-out; -moz-origin:7%;}
    39% {opacity: 1; -moz-transform: rotate(645deg); -moz-animation-timing-function: linear; -moz-origin:30%;}
    70% {opacity: 1; -moz-transform: rotate(770deg); -moz-animation-timing-function: ease-out; -moz-origin:39%;}
    75% {opacity: 1; -moz-transform: rotate(900deg); -moz-animation-timing-function: ease-out; -moz-origin:70%;}
    76% {opacity: 0; -moz-transform:rotate(900deg);}
    100% {opacity: 0; -moz-transform: rotate(900deg);}
}
@-webkit-keyframes orbit{
    0% {opacity: 1; z-index:99; -webkit-transform: rotate(180deg); -webkit-animation-timing-function: ease-out;}
    7% {opacity: 1; -webkit-transform: rotate(300deg); -webkit-animation-timing-function: linear; -webkit-origin:0%;}
    30% {opacity: 1; -webkit-transform:rotate(410deg); -webkit-animation-timing-function: ease-in-out; -webkit-origin:7%;}
    39% {opacity: 1; -webkit-transform: rotate(645deg); -webkit-animation-timing-function: linear; -webkit-origin:30%;}
    70% {opacity: 1; -webkit-transform: rotate(770deg); -webkit-animation-timing-function: ease-out; -webkit-origin:39%;}
    75% {opacity: 1; -webkit-transform: rotate(900deg); -webkit-animation-timing-function: ease-out; -webkit-origin:70%;}
    76% {opacity: 0; -webkit-transform:rotate(900deg);}
    100% {opacity: 0; -webkit-transform: rotate(900deg);}
}
@-ms-keyframes orbit{
    0% {opacity: 1; z-index:99; -ms-transform: rotate(180deg); -ms-animation-timing-function: ease-out;}
    7% {opacity: 1; -ms-transform: rotate(300deg); -ms-animation-timing-function: linear; -ms-origin:0%;}
    30% {opacity: 1; -ms-transform:rotate(410deg); -ms-animation-timing-function: ease-in-out; -ms-origin:7%;}
    39% {opacity: 1; -ms-transform: rotate(645deg); -ms-animation-timing-function: linear; -ms-origin:30%;}
    70% {opacity: 1; -ms-transform: rotate(770deg); -ms-animation-timing-function: ease-out; -ms-origin:39%;}
    75% {opacity: 1; -ms-transform: rotate(900deg); -ms-animation-timing-function: ease-out; -ms-origin:70%;}
    76% {opacity: 0; -ms-transform:rotate(900deg);}
    100% {opacity: 0; -ms-transform: rotate(900deg);}
}
@keyframes orbit{
    0% {opacity: 1; z-index:99; transform: rotate(180deg); animation-timing-function: ease-out;}
    7% {opacity: 1; transform: rotate(300deg); animation-timing-function: linear; origin:0%;}
    30% {opacity: 1; transform:rotate(410deg); animation-timing-function: ease-in-out; origin:7%;}
    39% {opacity: 1; transform: rotate(645deg); animation-timing-function: linear; origin:30%;}
    70% {opacity: 1; transform: rotate(770deg); animation-timing-function: ease-out; origin:39%;}
    75% {opacity: 1; transform: rotate(900deg); animation-timing-function: ease-out; origin:70%;}
    76% {opacity: 0; transform:rotate(900deg);}
    100% {opacity: 0; transform: rotate(900deg);}
}